@font-face {
    font-family: Norse;
    src: url('../fonts/Norse.otf') format('opentype');
}

@font-face {
    font-family: Norse-bold;
    src: url('../fonts/Norsebold.otf') format('opentype');
}

body {
    margin: 0px;
    padding: 0px;

}
 
.main {
    display: flex;
    width: 100vw;
    overflow: hidden;

}

.hero-banner {
    height: 100vh;
    flex: 1;
    width: 100%;
    background-image: url(../images/bg-photo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font: 6rem Norse-bold ;
}

.hero-top {
    height: 225px;
}

.hero-footer {
    display: flex;
    color: lightgray;
    justify-content: center;
    align-items: end;
    flex: 1;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

a {
    color: inherit;
}

.logo-icon {
    height: 90%;
}

.top-level-1, .form-actions {
    background-color: rgb(249, 250, 251);
}

.top-level-1 {

    flex: 6;
    padding: 100px 350px 0px 50px;
    line-height: 1.4;

}

.form-fields {
    background-color: rgb(255, 255,255);
    flex: 5.4;
    padding-left: 50px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.form-actions {
    flex: 6.8;
    padding-left: 50px;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 12.2;

}

p {
    margin: 0px;
    padding-bottom: 1.6rem;
}

.log-in {
    font-size: 1rem;
 
}

a#log-in {
    color: #596D48;
    font-weight: bold;
}

button {
    margin-bottom: 30px;
    padding: 14px 45px;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}